body {
  background-image: url("./images/info-window_background.jpg");
  background-repeat: repeat;
  background-size: cover;
}

#main-container {
  display: grid;
  width: 400px;
  height: 550px;
  position: absolute;
  top: 50%;
  left: 50%;
  padding-left: 4px;
  padding-bottom: 16px;
  padding-right: 10px;
  transform: translate(-50%, -50%);

  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;

  grid-template-areas:
    "dr dr dr dr"
    "percentage clearEntry clearAll backSpace"
    "reciprocal sqrd sqrt divide"
    "seven eight nine mult"
    "four five six minus"
    "one two three plus"
    "negPos zero decimal equals";

  grid-gap: 2px;

  overflow: hidden;

  background-color: rgb(238, 238, 238);
  border: 1px ridge black;
  box-shadow: 1px 1px 7px gray;
}

#display {
  font-family: "Helvetica", "Arial";
  font-size: 50px;
  grid-area: dr;

  padding-right: 15px;
  padding-bottom: 5px;

  justify-self: end;
  align-self: end;

  border: none;
}

.operators {
  font-family: "Helvetica", "Arial";
  font-size: 18px;

  background-color: rgba(243, 243, 243, 0.952);

  width: 100%;
  height: 100%;

  border: none;
}

.operators:hover {
  background-color: rgb(202, 202, 202);
  box-shadow: 1px 1px 1px grey;
}

#clearEntry {
  font-family: "Helvetica", "Arial";
  grid-area: clearEntry;

  background-color: rgba(243, 243, 243, 0.952);

  width: 100%;

  border: none;
}

#clearEntry:hover {
  background-color: rgb(202, 202, 202);
  box-shadow: 1px 1px 1px grey;
}

#clearAll {
  font-family: "Helvetica", "Arial";
  grid-area: clearAll;

  background-color: rgba(243, 243, 243, 0.952);

  width: 100%;

  border: none;
}

#clearAll:hover {
  background-color: rgb(202, 202, 202);
  box-shadow: 1px 1px 1px grey;
}

#backSpace {
  font-family: "Helvetica", "Arial";
  grid-area: backSpace;

  background-color: rgba(243, 243, 243, 0.952);

  width: 100%;

  border: none;
}

#backSpace:hover {
  background-color: rgb(202, 202, 202);
  box-shadow: 1px 1px 1px grey;
}

.num {
  font-family: "Helvetica", "Arial";
  font-size: 19px;
  font-weight: bold;

  background-color: white;

  border: none;
}

.num:hover {
  background-color: rgb(202, 202, 202);
  box-shadow: 1px 1px 1px grey;
}

.num[data-num~="."] {
  font-family: "Helvetica", "Arial";
  font-size: 18px;

  background-color: rgba(243, 243, 243, 0.952);

  width: 100%;
  height: 100%;

  border: none;
}

.equals {
  font-family: "Helvetica", "Arial";
  font-size: 19px;
  font-weight: bold;
  grid-area: equals;

  background-color: rgba(132, 187, 218, 0.918);

  border: none;
}

.equals:hover {
  background-color: rgba(48, 135, 185, 0.918);
  box-shadow: 1px 1px 1px grey;
}
